<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Sensor Luz</title>
    <!-- JS -->
     <script src="{{ url_for('static',filename='index.js')}}" defer></script>
     <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>
    <!-- Cabeçalho -->
    <header class="header">
        
        <h1>Monitoramento de Luz</h1>

        <nav class="header__barra-navegacao">
            <ul>
                <li><a href="#home">Início</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>

    </header>

    <!-- Conteudo principal -->
    <main class="main">

        <form action="">
            <label class="main__estado_luz">Estado da luz:</label>
            <button type="submit">Ver</button>
        </form>

        <div class="main__result" id="result">
                <span ></span>
        </div>

    </main>

</body>
</html>